{% extends "base.html" %}

{% block content %}
  <h1 class="mb-4">Blog</h1>

  {% for post in posts %}
  <article class="mb-5">
    <h2 class="mt-4">
      <a href="{{ url_for('blog.post_detail', slug=post.slug) }}">
        {{ post.title }}
      </a>
    </h2>

    {% if post.summary %}
      <p class="mt-2">{{ post.summary }}</p>
    {% endif %}

    <small class="text-muted d-block mt-2 mb-4">
      {{ moment(post.timestamp).format('LL') }}
    </small>
  </article>
{% endfor %}

<nav aria-label="Blog pagination">
  <ul class="pagination">
    <li class="page-item{% if not prev_url %} disabled{% endif %}">
      <a class="page-link" href="{{ prev_url }}">Newer posts</a>
    </li>
    <li class="page-item{% if not next_url %} disabled{% endif %}">
      <a class="page-link" href="{{ next_url }}">Older posts</a>
    </li>
  </ul>
</nav>
{% endblock %}