{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-3 text-center">
    <img src="{{ url_for('static', filename='headshot.PNG') }}"
         class="rounded-circle mb-3"
         width="128">

    <h3>Arielle Ezechukwu</h3>
    <p class="text-muted">
      Python • Cloud • Security • Working Mom Musings
    </p>
  </div>

  <div class="col-md-9">
    <p>
      I’m a systems thinker, who likes to tinker. Here I write about real-world incidents,
      vulnerabilities, and lessons learned. You'll also find recaps of my projects and career
      insights from my journey in tech.
    </p>

    <hr>

    <h4>Latest Writing</h4>

    {% if latest_posts %}
      {% for post in latest_posts %}
        <article class="mb-3">
          <h5>
            <a href="{{ url_for('post_detail', slug=post.slug) }}">
              {{ post.title }}
            </a>
          </h5>

          {% if post.summary %}
            <p class="text-muted mt-1 mb-1">
              {{ post.summary }}
            </p>
          {% endif %}

          <small class="text-muted">
            {{ moment(post.timestamp).format('LL') }}
          </small>
        </article>
      {% endfor %}
    {% else %}
      <p>No posts yet.</p>
    {% endif %}

    <a href="{{ url_for('blog') }}">View all posts →</a>
  </div>
</div>
{% endblock %}