name: CI/CD - Test and Deploy to Elastic Beanstalk

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - "README.md"
      - "LICENSE"
      - "*.md"
  pull_request:
    paths-ignore:
      - "README.md"
      - "LICENSE"
      - "*.md"    

jobs: 
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        run: pytest

  deploy:
    needs: test
    runs-on: ubuntu-latest
    environment: production

    # ONLY deploy on push (not PR) AND only when code changes
    if: github.event_name == 'push'

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Install AWS CLI
        run: |
          pip install awscli
          zip --version

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
      
      - name: Generate deployment package
        run: |
          zip -r deploy.zip . -x "*.git*" "*.github/*" "venv/*" "__pycache__/*"

      - name: Upload zip to S3
        run: |
          aws s3 cp deploy.zip "s3://${{ secrets.AWS_BUCKET }}/deploy-${{ github.run_id }}.zip"

      - name: Register new version to Elastic Beanstalk
        run: |
          aws elasticbeanstalk create-application-version \
            --application-name "${{ secrets.EB_APP_NAME }}" \
            --version-label "build-${{ github.run_id }}" \
            --source-bundle S3Bucket="${{ secrets.AWS_BUCKET }}",S3Key="deploy-${{ github.run_id }}.zip"


      - name: Deploy to Elastic Beanstalk
        run: |
          aws elasticbeanstalk update-environment \
            --environment-name "${{ secrets.EB_ENV_NAME }}" \
            --version-label "build-${{ github.run_id }}"